/*
	Mosaic - Sliding Boxes and Captions jQuery Plugin
	Version 1.0.1
	www.buildinternet.com/project/mosaic
	
	By Sam Dunn / One Mighty Roar (www.onemightyroar.com)
	Released under MIT License / GPL License
*/

* {
	margin:0;
	padding:0;
	border:none;
	outline:none;
}

/*General Mosaic Styles*/
	
.mosaic-overlay {
	display:none;
	z-index:5;
	position:absolute;
	height:100%;
}

.zone-overlay{
	background:#6eb256;
	color: #FFF;
	height:95%;
	margin-bottom: 15px;
	margin-right: 15px;
    width: 95%;
    padding:30px 15px;
    -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
