@media only screen and (min-width: 18.75em) and (max-width: 50em) {
  	.foot-menu nav li a, .foot-menu nav li a:hover, .foot-menu nav li a:focus{
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
		border-radius: 0px !important; 
	}

	.foot-menu .navbar-collapse{
		padding-left:0px;
		padding-right:0px;
	}

	.foot-menu .navbar-collapse .navbar-nav{
		margin:0;
		display: block !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1300px){
	.foot-menu ul>li{
		min-width: 150px !important;
	}

	.foot-menu nav li a, .foot-menu nav li a:hover, .foot-menu nav li a:focus{
		padding:5px 40px !important;
	}
}

@media only screen and (min-width: 275px) and (max-width: 768px){
	.foot-menu .navbar-brand{
		padding-right: 0px !important;
		padding-left: 0px !important;
	}

	.foot-menu ul>li{
		height:60px !important;
	}

	.foot-menu nav li{
		max-width: none !important;
	}

	.zone-item img{
		width: 50% !important;
	}

	.foot-menu nav li a, .foot-menu nav li a:hover, .foot-menu nav li a:focus, .foot-menu nav li.active a{
		margin-top: 0px !important;
	}

	.input-group .form-control{
		padding: 0 !important;
	}
}

html{
	position: relative;
	min-height: 100%;
}

body{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 12pt;
}

.container-fluid{
	padding-left:0 !important;
	padding-right:0 !important;
}

.bg-default-front{
	background: #FFF;
}

.content{
	min-height: 450px;
}

.bg-grey{
	background-color: #e7eded;
}

.btn-dark-turquoise{
    color: #fff;
    background-color: #26A9E0;
    border-color: #26A9E0;
    padding:6px 20px !important;
    margin-bottom: 10px;
}

.btn-grey{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding:6px 20px !important;
    margin-bottom: 10px;
}

.table-dark th {
    background-color: #898d98 !important;
    color: #FFFFFF !important;
}

.table-dark>tbody>tr:nth-child(even)>td, .table-dark>tbody>tr:nth-child(even)>th {
    background-color: #f9f9f9 !important;
}

.part-logo-wrap{
	margin: 30px 0;
	border-bottom: 2px solid #2E3191;
	padding-bottom:30px;
}

.bg-light-grey{
	background-color: #f2f5f5;
	padding-right:35px;
	padding-bottom: 30px;
}

.margin-top-10{
	margin-top: 10px;
}

.margin-top-30{
	margin-top: 30px;
}

.margin-top-100{
	margin-top: 100px;
}

.login-box{
    padding-top:40px;
    padding-bottom: 20px;
}

.form-control-feedback{
	top:0 !important;
}

.no-padding{
	padding:0 !important;
}

.no-padding-left{
	padding-left:0 !important;
}

.padding-top-10{
	padding-top:10px;
}

.margin-btm-20{
	margin-bottom: 20px;
}

.footer {
    top: 0;
    width: 100%;
    z-index:2;
}

.foot-content{
	background-color: #333234;
	height: 40px;
}

.foot-menu .navbar{
	margin: 0 0 20px 0;
	min-height: 20px;
	border-bottom: 7px solid #000;
}

.foot-menu .navbar-brand{
    line-height: 13px;
    height: 110px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 25px;
}

.foot-menu .navbar-brand img:first-child{
	margin-right: 15px;
}

.foot-menu .navbar .navbar-header{
	margin: 0;
	min-height: 20px;	
}

.foot-menu nav li a, .foot-menu nav li a:hover, .foot-menu nav li a:focus, .foot-menu nav li.active a{
	color:#000 !important;
    font-family: freight-sans-pro, sans-serif;
    line-height: 13px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 7px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 27px;
    text-transform: uppercase;
}

.foot-menu nav li.last a{
	padding: 7px 10px !important;
	background-color: #29ABE2;
	margin-top:40px;
}

.foot-menu nav li.last:hover{
	border-bottom: none !important;
}

.foot-menu nav li.last:hover a{
	background-color: #428bca !important;
    border-color: #357ebd !important;
}

.foot-menu nav li{
	max-width: 140px;
}

.foot-menu nav li:hover{
	border-bottom: 15px solid #7aba33;
}

.foot-menu nav li.active{
	border-bottom: 7px solid #7aba33;	
}

.foot-menu nav li.active a, .foot-menu nav li:hover a{
	background: transparent;
}

.foot-menu .navbar-nav.navbar-right:last-child{
	margin-right: 0 !important;
}

.foot-content{
	color:#FFF;
	font-size: 10pt;
}

.foot-menu ul>li{
	text-align: center;
	height:110px;
}

.foot-menu .nav.navbar-nav{
	display: inline-block;
	float: none;
}

#navbar-footer{
	text-align:center;
}

.margin-btm-100{
	margin-bottom: 100px;
}

.footer-default{
	padding:25px 0px 5px 0 !important;
	font-size: 10pt;
    margin-top: 20px;
    background-color: #6eb256;
}

.footer-grey{
	background-color: #989e9e;
	color:#FFF;
}

.margin-top-50{
	margin-top: 50px;
}

.margin-top-10{
	margin-top: 10px;
}

.padding-btm-20{
	padding-bottom: 20px;
}

.margin-top-100{
	margin-top: 80px;
}

.text-green {
    color: #66af73;
}

.text-blue {
    color: #0000cc;
}

.text-yellow {
    color: #ffcc00;
}

.text-red {
    color: #ff0000;
}

.table-evaluation-form{
	width:100%;
	margin-bottom: 30px;
}

.table-evaluation-form tr>td>table{
	width:100%;
}

.table-evaluation-form tr>td, #table-evaluation-form tr>th{
	padding:5px;
}

.table-evaluation-form .form-group{
	padding: 0 10px;
}

.table-evaluation-form .head{
	background-color: #888d97;
}

.table-evaluation-form .head th{
	text-align: center;
	color: #FFFFFF;
}

.font-16px{
        font-size: 16px;
}

.margin-top-130{
	margin-top: 130px;
}

.report-filter-act{
	margin-top: 28px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.bg-white-trans{
	background: #FFF;
	border: 1px solid #000;
	border-radius: 10px; 
}

.margin-top-170{
	margin-top: 170px;
}

.btn-red{
	background: #EC1C24;
	color : #FFF;
	font-weight: bold;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
}

.btn-red:hover{
	background: #2E3191;
	color:#FFF;
}

.link-red{
	color:#EC1C24;
}

.footer-btn{
	position: fixed;
	bottom: 0;
}

.footer-btn a{
	padding:12px 50px;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0; 
}

.article-content img{
	width:100% !important;
}

.margin-left-28per{
	margin-left: 28%;
}

.icon-bar.text-white{
	background: #FFF;
}

.btn-black{
	background: #000;
	color : #FFF;
	font-weight: bold;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
}

.btn-black:hover{
	background: #454545;
	color:#FFF;
}

.link-black{
	color:#000;
	font-weight: bold;
}

.navbar-basic{
	margin-bottom: 0;
}

.navbar-basic .navbar-nav {
  display: inline-block !important;
  float: none!important;
  vertical-align: top !important;
}

.navbar-basic .navbar-collapse {
  text-align: center !important;
}
.navbar-basic .nav>li>a{
	line-height: 13px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: freight-sans-pro, sans-serif;
    font-weight: 600;
    color:#000;
    text-transform: uppercase;
}
.navbar-basic .nav>li>a:hover, .nav>li>a:focus{
	background: none;
	color: #ccc;
}

.footer-text{
	line-height: 12px;
    font-size: 10px;
    background-color: transparent;
    font-family: museo-sans, sans-serif;
    font-weight: 100;
    margin-bottom: 30px;
    margin-top: 10px;
}

.article-title{
	font-size: 14px;
    font-weight: 700;
    font-family: museo-sans, sans-serif;
    text-transform: uppercase;
    opacity: 0.7;
}

.article-content, .article-content ol li span{
	font-family: museo-sans, sans-serif !important;
    font-weight: 500;
    opacity: 0.7;
    font-size: 12px;
}

.dropdown-menu li{
	height: 30px !important;
	border: none !important;
	max-width:400px !important;
}

.dropdown-menu li a{
	margin: 0 !important;
	text-align: left !important;
}

.footer-navbar{
	margin-top: 20px;
}

.zone-item{
	border:3px dotted #000;
	margin-bottom: 15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:0px;
	min-height: 280px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.no-margin{
	margin: 0px !important;
}

.zone-item-text{
    color: #000;
}

.bg-landing{
	background-image: url("../img/bg-landing.png");
	background-repeat: no-repeat;
	background-position: right top;
	min-height: 700px;
}

.bg-white{
	background-color: #FFF;
}

.zone-item:hover{
	background:rgba(255,255,255,0.9);
}

.padding-left-100{
	padding-left: 100px !important;
}

h6.small{
	font-size: 10px;
}

.register-now-btn, .register-now-btn:hover{
	background-color: #2B2B2B;
	color: #FFF;
}

.foot-menu .navbar .navbar-header .navbar-toggle .icon-bar {
    background-color: black;
}

a.link-black{
	color:#000;
}

.border-dot{
	border:3px dotted #000;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

a.disabled{
	color: #CCC !important;
}